.header {
    z-index: $zindex-header;

    &-logo {
        @include linear-rfs(10rem, 15rem, 375px, 1920px, "width");
    }

    .menu {
        a {
            padding: 0.25rem 0.75rem;
            border-radius: $border-radius-sm;

            &.active {
                background-color: rgba($primary, 0.1);
            }
        }
    }
}

.areas-header {
    & .bg-custom {
        opacity: 0.65 !important;
        transition: opacity 0.3s ease-in-out;
    }

    & .ratio-header {
        transform: scale(1.0);
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        & .bg-custom {
            opacity: 0.85 !important;
            transition: opacity 0.3s ease-in-out;
        }

        & .ratio-header {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }
}

.banner-logo {
    @include linear-rfs(10rem, 20rem, 375px, 1920px, "width");
}

.svg-logo {
    @media(max-width: 1800px) {
        bottom: -12%;
    }

    @media(max-width: 1600px) {
        bottom: -25%;
    }

    @media(max-width: 1400px) {
        bottom: -30%;
        width: 49%;
        right: 0%;
    }

    @media(max-width: 1300px) {
        bottom: -37%;
        width: 55%;
        right: -2%;
    }
}
